<div style="width: 50%; margin-bottom: 30px;">
    <p><b>Name:</b> <%= product.name %></p>
    <p><b>Price:</b> $<%= product.price %></p>

    <% if (product.pictureURL != "") { %>
        <img src="<%= product.pictureURL %>">
    <% } %>
    
    <% if (product.description != "") { %>
        <p><b>Description:</b> <%= product.description %></p>
    <% } %>
    <% let itemIndex = -1;
       if (isLoggedIn) { %>
        <form action="/add-to-cart/<%= product._id %>" method="POST">
            <input type="hidden" name="_csrf" value="<%= csrfT %>">
            <input type="number" name="quantity" min="1" step="1" style="width: 100%"
            <% itemIndex = user.cart.findIndex(item => { return item._id.toString() == product._id })
                if (itemIndex > -1) {%>
                    value="<%= user.cart[itemIndex].itemQuantity %>"
            <% } else { %>
                value=1
            <% } %>
            >
            <input type="submit"
            <% if (itemIndex > -1) {%>
                value="Change Quantity"
            <% } else { %>
                value="Add to Cart"
            <% } %> class="btn btn-secondary">
        </form>
    <% } %>

    <% if (itemIndex > -1 && isLoggedIn) { %>
        <form action="/remove-from-cart/<%= product._id %>" method="POST">
            <input type="hidden" name="_csrf" value="<%= csrfT %>">
            <input type="submit" value="Remove From Cart" class="btn btn-secondary">
        </form>
    <% } %>

    <% if (!cart && isAdmin) { %>
        <form action="/remove-product/<%= product._id %>" method="POST">
            <input type="hidden" name="_csrf" value="<%= csrfT %>">
            <input type="submit" value="Delete Product" class="btn btn-secondary">
        </form>

        <form action="/edit-product/<%= product._id %>" method="GET">
            <input type="hidden" name="_csrf" value="<%= csrfT %>">
            <input type="submit" value="Edit Product" class="btn btn-secondary">
        </form>
    <% } %>
</div>