<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <% include ../includes/header.ejs %>
    </head>

    <body>
        <% include ../includes/banner.ejs%>
        <% include ../includes/error.ejs%>
        <div style="display: flex; flex-direction: column; align-items: center; padding: 10px;">
            <form action="<% if (address._id) { %>/edit-address/<%= address._id %><% } else { %>/add-address<% } %>" method="POST" style="display: flex; flex-direction: column; width: 50%;">
                <input type="hidden" name="_csrf" value="<%= csrfT %>">
                <div style="margin-bottom: 10px;">
                    <label>Address Line 1</label>
                    <input type="text" name="addressLine1" style="width: 100%" value="<%= address.address %>">
                </div>
                <div style="margin-bottom: 10px;">
                    <label>City</label>
                    <input type="text" name="addressCity" style="width: 100%" value="<%= address.city %>">
                </div>
                <div style="margin-bottom: 10px;">
                    <label>State or Province</label>
                    <input type="text" name="addressState" style="width: 100%" value="<%= address.state %>">
                </div>
                <div style="margin-bottom: 10px;">
                    <label>Country:</label>
                    <input type="text" name="addressCountry" style="width: 100%" value="<%= address.country %>">
                </div>
                <input type="submit" value="submit">
            </form>
        </div>
    </body>
</html>