<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <% include ../includes/header.ejs %>
    </head>

    <body>
        <% include ../includes/banner.ejs%>
        <div style="display: flex; align-items: center; flex-direction: column; padding-top: 10px;">

            <% if (orders.length == 0) { %>
                <p>No orders.</p>
            <% } %>

            <% for (order of orders) {%>
                <div style="width: 50%; margin-bottom: 30px;">
                    <p><b>Date Placed:</b> <%= order.datePlaced %></p>
                    <p><b>Shipping Cost: </b> $<%= order.shippingCost %></p>
                    <p><b>Total Cost: </b> $<%= order.totalCost %></p>
                    <p><b>Number of Items: </b> <%= order.totalItems %></p>
                </div>
            <% } %>
        </div>
    </body>
</html>